@media (max-width:1022px) {
    /* #navmiddle {} */
    #navleft {
        width: 100px;
        height: 40px;
        display:flex;
        align-items: center;
        /* border: 2px solid red; */
    }
    #navmiddle {
        width: 400px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* border: 2px solid rgb(15, 60, 243);    */
    }
    .nabbtn1 {
        text-decoration: none;
        font-size: 20px;
        color: black;
        letter-spacing: 2px;
        font-weight: bold;
    }

    .nabbtn2,
    .nabbtn3,
    .nabbtn4,
    .nabbtn5,
    .nabbtn6,
    .nabbtn7 {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
    }

    #navright {
        width: 110px;
        height: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        /* border: 2px solid red; */
    }

    .Rnavbtn1 {
        font-size: 14px;
        color: rgb(36, 36, 188);
    }

    #sear-box {
        width: 22px;
        height: 22px;
    box-shadow: 1px 1px 12px rgb(205, 77, 245);

    }

    #sear-box:hover {
        background-color: rgb(174, 244, 192);
        color: rgb(141, 128, 128);
        box-shadow: 2px 3px 25px rgb(146, 241, 169);
    }

    #addcartwrapper {
        width: 24px;
        height: 30px;
        /* border: 1px solid rgb(133, 126, 126); */
    }

    #showcartno {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        right: 1px;
        top: -7px;
        font-size: 10px;
        font-weight: 500;
    }
    /* =============== footer ===================== */

    .footerbox {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 240px;
        background-color: rgb(61, 60, 60);
    }
    
    .linkbox {
        width: 140px;
        /* border: 1px solid red; */
    }
    
    .foottitle {
        font-size: 14px;
    }
    
    .footlink2 {
        font-size: 10px;
    }
    
    .shopname {
        width: 90px;
        font-size: 16px;
        color: rgb(218, 214, 236);
        font-weight: bold;
        /* border: 1px solid rgb(127, 123, 123); */
    }

    /* =========================== */

}


/* ================= Media quiry width = 674px ================ */

@media (max-width:674px) {
    /* #navmiddle {} */
    #navleft {
        width: 70px;
        height: 40px;
        /* border: 2px solid red; */
    }
    #navmiddle {
        width: 330px;
        height: 40px;
        /* border: 2px solid rgb(15, 60, 243);    */
    }
    .nabbtn1 {
        font-size: 12px;    
    }

    .nabbtn2,
    .nabbtn3,
    .nabbtn4,
    .nabbtn5,
    .nabbtn6,
    .nabbtn7 {
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 1px;
    }

    #navright {
        width: 80px;
        height: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        /* border: 2px solid red; */
    }

    .Rnavbtn1 {
        font-size: 12px;
        color: rgb(36, 36, 188);
    }

    #sear-box {
        width: 18px;
        height: 18px;
    box-shadow: 1px 1px 10px rgb(205, 77, 245);
    }

    #addcartwrapper {
        width: 24px;
        height: 30px;
        /* border: 1px solid rgb(133, 126, 126); */
    }

    #showcartno {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        right: 1px;
        top: -7px;
        font-size: 8px;
        font-weight: 400;
    }
    /* =============== footer ===================== */

    .footerbox {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 240px;
        background-color: rgb(61, 60, 60);
    }
    
    .linkbox {
        width: 100px;
        /* border: 1px solid red; */
    }
    
    .foottitle {
        font-size: 10px;
    }
    
    .footlink2 {
        font-size: 8px;
    }
    
    .shopname {
        width: 70px;
        font-size: 12px;
        font-weight: bold;
        /* border: 1px solid rgb(127, 123, 123); */
    }
    .developer {
        width: 100%;
        height: 30px;
        padding-top: 5px;
        font-size: 10px;
    }
}

/* ==================== media quiry for maxwidth 514px ================= */

@media (max-width:514px) {
   
    #linemanu{
        display: block;
    }
    .navbar{
        position: relative;
    }
    #navmiddle {
        display: none;
        position:absolute;
        top:60px;
        left: 0;
        width: 100%;
        height: auto;
        background-color: whitesmoke;
        border: 1px solid rgb(249, 249, 249);
        padding-top:10px;   
        padding-bottom:10px;   
    }

    #navleft {
        width: 100px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        /* border: 2px solid red; */
    }
    
    .nabbtn1 {
        font-size: 12px;    
    }

    .nabbtn2,
    .nabbtn3,
    .nabbtn4,
    .nabbtn5,
    .nabbtn6,
    .nabbtn7 {
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 1px;
    }

    #navright {
        width: 90px;
        height: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        /* border: 2px solid red; */
    }

    .Rnavbtn1 {
        font-size: 12px;
        color: rgb(36, 36, 188);
    }

    #sear-box {
        width: 18px;
        height: 18px;
    box-shadow: 1px 1px 10px rgb(205, 77, 245);
    }

    #addcartwrapper {
        width: 24px;
        height: 30px;
        /* border: 1px solid rgb(133, 126, 126); */
    }

    #showcartno {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        right: 1px;
        top: -7px;
        font-size: 8px;
        font-weight: 400;
    }
    /* =============== footer ===================== */

    .footerbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 300px;
        background-color: rgb(61, 60, 60);
    }
    
    .linkbox {
        width: 100px;
        /* border: 1px solid red; */
    }
    
    .foottitle {
        font-size: 10px;
    }
    
    .footlink2 {
        font-size: 8px;
    }
    
    .shopname {
        width: 70px;
        font-size: 12px;
        font-weight: bold;
        display: none;
        /* border: 1px solid rgb(127, 123, 123); */
    }
    .developer {
        width: 100%;
        height: 30px;
        padding-top: 5px;
        font-size: 10px;
    }
}